# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment / secrets
.env
*.session

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Project
*.json.bak
*.bak
.pytest_cache/

# pixi environments
.pixi
*.egg-info
pixi.lock
